@font-face {
    font-family: "Arial";
    src: local("Arial"), url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Georgia";
    src: local("Georgia"), url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

/* ----- Header ----- */
.header {
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.header__inner {
    padding-top: 30px;
    display: flex;
}

.logo {
    max-height: 60px;
    text-align: center;
}

.logo__title {
    margin-bottom: 10px;
    font-size: 32px;
    color: #545454;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo__subtitle {
    font-size: 13px;
    font-weight: 400;
    color: #292929;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.logo--nav {
    display: none;
}

.nav {
    padding-top: 16px;
    margin-left: auto;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    margin-left: 35px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #545454;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    transition: all .2s linear;
}

.nav__link.active {
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
}

.nav__link:hover {
    color: #292929;
}

/* ----- Main ----- */
.main {
    margin: 0 auto;
    width: 100%;
    background-color: #F6F6F6;
}

.title {
    padding-top: 80px;
    text-align: center;
    margin-bottom: 60px;
    color: #545454;
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
}

.pets__container {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.pets__item {
    margin-bottom: -10px;
    text-align: center;
    border-radius: 9px;
    width: 270px;
    height: 435px;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.pets__item:hover {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
    box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
}

.pets__item:hover button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets__photo {
    margin-bottom: 26px;
    width: 270px;
    height: 270px;
}

.pets__name {
    margin-bottom: 32px;
    color: #545454;
    font-size: 20px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.pets__btn {
    margin-bottom: 30px;
    padding: 12px 42px;
    color: #292929;
    font-size: 17px;
    line-height: 22px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    transition: all .5s ease;
}

.pagination__btns {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pagination__btn {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    font-size: 20px;
    font-family: Georgia, sans-serif;
    color: #292929;
    cursor: pointer;
    transition: all .4s ease;
}

.pagination__btn:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pagination__btn.active {
    background-color: #F1CDB3;
}

.pagination__btn.active:hover {
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
    cursor: default;
}

.pagination__btn.disabled {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.pagination__btn.disabled:hover {
    background-color: #fff;
    border: 2px solid #CDCDCD;
    cursor: default;
}

/* ----- Footer ----- */
.footer {
    margin: 0 auto;
    width: 100%;
    min-height: 350px;
    background: url("../../assets/images/background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__inner {
    padding-top: 24px;
    width: 100%;
    height: 100%;
}

.footer__img {
    margin-top: 14px;
    width: 300px;
    height: 310px;
    background: url('./../../assets/images/footer-dog.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container__items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 160px;
    align-items: center;
}

.footer__title {
    max-width: 280px;
    padding-top: 13px;
    margin-bottom: 38px;
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    font-family: "Georgia", sans-serif;
    font-weight: 400;
}

.title-fix {
    margin-bottom: 32px;
}

.contact {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.contact-fix {
    margin-bottom: 32px;
}

.contact__icon {
    margin-right: 20px;
}

.contact__info {
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 1127px) {
    .container__items {
        gap: 60px;
    }
}

@media (max-width: 900px) {
    .footer__inner {
        padding-top: 15px;
    }

    .footer__img {
        margin-top: -30px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .title {
        margin-bottom: 30px;
    }

    .pets__item:nth-child(7),
    .pets__item:nth-child(8) {
        display: none;
    }

    .pets__container {
        margin-bottom: 48px;
    }

    .pagination__btns {
        padding-bottom: 78px;
    }
}


@media (max-width: 767.9px) {
    @keyframes slide-in {
        from {
            right: -320px;
        }

        to {
            right: 0;
        }
    }

    @keyframes slide-out {
        from {
            right: 0;
        }

        to {
            right: -320px;
        }
    }

    .body {
        position: relative;
        overflow-x: hidden;
    }

    .body.open {
        overflow: hidden;
    }

    .header.open {
        position: block;
        background-color: rgb(123 123 123);
    }

    .shadow.open {
        background-color: rgba(41, 41, 41, 0.6);
        min-height: 100vw;
        min-width: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .logo.open {
        opacity: 0;
        transition: all .3s ease-in-out;
        user-select: none;
    }

    .logo.open a {
        cursor: default;
        pointer-events: none;
    }

    .logo--nav {
        width: 186px;
        display: block;
        margin-top: 30px;
        margin-left: 10px;
        max-height: 60px;
        text-align: center;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    .logo--nav.open {
        opacity: 1;
    }

    .logo__title-nav {
        margin-bottom: 10px;
        font-size: 32px;
        color: #545454;
        line-height: 35.2px;
        letter-spacing: 0.06em;
        font-family: Georgia, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .logo__subtitle-nav {
        font-size: 13px;
        font-weight: 400;
        color: #292929;
        line-height: 15px;
        letter-spacing: 0.1em;
    }

    .nav {
        margin: 0;
        padding: 0;
        position: absolute;
        right: -320px;
        top: 0;
        z-index: 100;
        transition: .5s;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        display: block;
        background-color: #fff;
        animation-name: slide-out;
        animation-duration: .8s;
    }

    .nav.open {
        right: 0;
        animation-name: slide-in;
        animation-duration: .8s;
    }

    .nav__list {
        margin-top: 260px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .nav__item {
        margin-bottom: 66px;
        margin-right: 38px;
        text-align: center;
    }

    .nav__link {
        font-size: 32px;
        font-family: Arial;
        font-weight: 400;
        padding-bottom: 10px;
    }

    .burger {
        margin-left: auto;
        position: relative;
        top: 10px;
        z-index: 1000;
        width: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    .burger div {
        transition: all .3s ease-in-out;
    }

    .burger:hover div {
        background-color: #F1CDB3;
    }

    .burger__line {
        margin: 8px 0;
        height: 2px;
        width: 100%;
        background-color: #000000;
    }

    .burger.open .line-1 {
        transform: rotate(-90deg) translate(0, 10px);
        transition: .5s;
    }

    .burger.open .line-2 {
        transform: rotate(-90deg) translate(10px, 0);
        ;
        transition: .5s;
    }

    .burger.open .line-3 {
        transform: rotate(-90deg) translate(20px, -10px);
        transition: .5s;
    }
}

@media (max-width: 420px) {
    .container {
        padding: 0 10px;
    }

    .padding-fix {
        padding: 0 20px;
    }

    .title {
        padding-top: 42px;
        font-size: 25px;
        line-height: 130%;
    }

    .pets__item:nth-child(4),
    .pets__item:nth-child(5),
    .pets__item:nth-child(6) {
        display: none;
    }

    .pagination__btns {
        gap: 10px
    }

    .footer__item {
        text-align: center;
    }

    .footer__title {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        max-width: 270px;
        margin: auto;
        margin-bottom: 38px;
    }

    .title-fix {
        padding: 5px;
        margin-bottom: 33px;
    }

    .container__items {
        gap: 0;
    }

    .contact {
        justify-content: center;
    }

    .footer__img {
        width: 260px;
        height: 269px;
        margin-top: 0px;
    }

    .contact-fix {
        justify-content: start;
        line-height: 115%;
        text-align: start;
        margin-bottom: 40px;
    }

    .contact__info a {
        letter-spacing: 0.06em;
    }
}

@media (max-width: 320px) {
    .title {
        margin-bottom: 40px;
    }

    .pets__container {
        margin-bottom: 52px;
    }

    .pagination__btns {
        margin-bottom: 0px;
        padding-bottom: 44px;
    }
}



/* ----- Popup ----- */
.body.active {
    overflow-y: hidden;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    z-index: 1000;
    transition: all .4s ease;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup__bg .popup__btn {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s all;
    display: flex;
    width: 900px;
    background-color: #FAFAFA;
    border-radius: 9px;
    box-shadow: 0px 2px 35px rgba(13, 13, 13, 0.1);
    z-index: 100;
    transition: all .4s ease;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.popup:hover .popup__btn {
    background-color: transparent;
}

.popup__btn {
    position: absolute;
    top: -55px;
    right: -40px;
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #F1CDB3;
    border-radius: 100%;
    background-color: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 1000;
    transition: all .5s ease;
}

.popup__btn:hover {
    background-color: #FDDCC4 !important;
    border-color: #FDDCC4;
}

.btn__line {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #292929;
    width: 20px;
    height: 2px;
    border-radius: 3px;
}

.btn__line-1 {
    transform: rotate(45deg) translate(-8px, 7px);
}

.btn__line-2 {
    transform: rotate(-45deg) translate(-7px, -8px);
    ;
}

.popup__photo {
    width: 500px;
    background-image: url("../../assets/images/pets/Katrine.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

.popup__content {
    padding: 50px 20px 88px 29px;
    max-width: 400px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    color: #000;
    text-align: left;
    letter-spacing: 0.06em;
}

.popup__name {
    margin-bottom: 10px;
    font-size: 35px;
    letter-spacing: 0.06%;
    letter-spacing: 0.06em;
}

.popup__breed {
    font-size: 20px;
    margin-bottom: 40px;
    letter-spacing: 0.06em;
}

.popup__text {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
}

.popup__info {
    list-style: disc;
    padding-left: 15px;
    text-align: left;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
}

.popup__info li::marker {
    color: #F1CDB3;
}

.popup__info li {
    margin-bottom: 10px;
}

.popup__info li span {
    color: #000;
    letter-spacing: 0.06em;
}

@Media (max-width: 1000px) {
    .popup {
        max-width: 630px;
        min-height: 350px;
    }

    .popup__photo {
        width: 350px;
    }

    .popup__content {
        padding: 10px 9px 37px 11px;
        max-width: 280px;
    }

    .popup__info li {
        margin-bottom: 5px;
    }

    .popup__name {
        margin-bottom: 10px;
    }

    .popup__breed {
        margin-bottom: 20px;
    }

    .popup__text {
        margin-bottom: 20px;
    }
}

@Media (max-width: 767px) {
    .popup {
        width: 80%;
        display: flex;
        justify-content: center;
        min-height: 0;
        height: auto;
    }

    .popup__photo {
        display: none;
    }

    .popup__content {
        text-align: center;
    }

    .popup__text {
        text-align: justify;
    }
}

@Media (max-width: 425px) {
    .popup__text {
        font-size: 13px;
    }

}

@Media (max-width:320px) {
    .popup {
        max-width: 240px;
    }

    .popup__content {
        padding-bottom: 10px;
    }

    .popup__text {
        margin-bottom: 24px;
    }

    .button {
        padding: 10px 30px;
    }
}