@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/arial-regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

/* ----- Header ----- */
.header {
    width: 100%;
    height: 120px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}

.header__inner {
    padding-top: 30px;
    display: flex;
}

.logo {
    max-height: 60px;
    text-align: center;
}

.logo__title {
    margin-bottom: 10px;
    font-size: 32px;
    color: #545454;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo__subtitle {
    font-size: 13px;
    font-weight: 400;
    color: #292929;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.nav {
    padding-top: 16px;
    margin-left: auto;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    margin-left: 35px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #545454;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    transition: all .2s linear;
}

.nav__link.active {
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
}

.nav__link:hover {
    color: #292929;
}

/* ----- Main ----- */
.main {
    margin: 0 auto;
    width: 100%;
    background-color: #F6F6F6;
}

.title {
    padding-top: 80px;
    text-align: center;
    margin-bottom: 60px;
    color: #545454;
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
}

.pets__container {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.pets__item {
    margin-bottom: -10px;
    text-align: center;
    border-radius: 9px;
    width: 270px;
    height: 435px;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.pets__item:hover {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
    box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
}

.pets__item:hover button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets__photo {
    margin-bottom: 26px;
    width: 270px;
    height: 270px;
}

.pets__name {
    margin-bottom: 32px;
    color: #545454;
    font-size: 20px;
    font-family: Georgia, sans-serif;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.pets__btn {
    margin-bottom: 30px;
    padding: 12px 42px;
    color: #292929;
    font-size: 17px;
    line-height: 22px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    transition: all .5s ease;
}

.pagination__btns {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pagination__btn {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    font-size: 20px;
    font-family: Georgia, sans-serif;
    color: #292929;
    ;
    cursor: pointer;
    transition: all .4s ease;
}

.pagination__btn:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pagination__btn.active {
    background-color: #F1CDB3;
}

.pagination__btn.active:hover {
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
    cursor: default;
}

.pagination__btn.disabled {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.pagination__btn.disabled:hover {
    background-color: #fff;
    border: 2px solid #CDCDCD;
    cursor: default;
}