@font-face {
    font-family: "Arial";
    src: local("Arial"), url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: local("Georgia"), url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1280px;
}

/* ----- Header ----- */
.header {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.logo {
    max-height: 60px;
    text-align: center;
}

.logo__title {
    margin-bottom: 10px;
    font-size: 32px;
    color: #F1CDB3;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    text-shadow: 1px 0 1px #000,
        0 1px 1px #000,
        -1px 0 1px #000,
        0 -1px 1px #000,
        0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo__subtitle {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.logo--nav {
    display: none;
}

.nav {
    padding-bottom: 15px;
    margin-left: auto;
    margin-bottom: 5px;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    padding-bottom: 4px;
    margin-left: 35px;
    color: #CDCDCD;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    transition: all .2s ease-in-out;
}

.nav__link.active {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
}

.nav__link:hover {
    color: #FAFAFA;
}

/* ----- Main ----- */
.main {
    margin: 0 auto;
    width: 100%;
}

.intro {
    width: 100%;
    min-height: 908px;
    background: linear-gradient(to right, #4e3e33, #211f20);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__inner {
    display: flex;
    align-items: flex-end;
    padding-top: 180px;
}

.intro__img {
    width: 100%;
    max-width: 698px;
    height: 728px;
    flex-shrink: 0;
    background-image: url("../../assets/images/intro-dog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__content {
    padding-bottom: 260px;
    margin-right: 42px;
    max-width: 460px;
    min-height: 322px;
}

.content__title {
    margin-bottom: 42px;
    max-width: 310px;
    font-size: 44px;
    color: #fff;
    line-height: 57px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
}

.content__text {
    margin-bottom: 58px;
    font-size: 15px;
    font-weight: 400;
    color: #CDCDCD;
    line-height: 24px;
}

.button {
    padding: 15px 45px;
    height: 52px;
    color: #292929;
    font-size: 17px;
    font-family: Georgia, sans-serif;
    letter-spacing: 0.06em;
    background-color: #F1CDB3;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all .5s ease;
}

.button:hover {
    background-color: #FDDCC4;
}

.section__title {
    margin-bottom: 25px;
    color: #545454;
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
}

.title {
    margin: 0 auto 60px;
    text-align: center;
}

.about {
    display: flex;
    justify-content: center;
    min-height: 508px;
    margin-bottom: 80px;
}

.about__inner {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.about__img {
    margin-right: 120px;
    width: 300px;
    height: 408px;
    background-image: url("../../assets/images/about-pets.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__content {
    margin-top: 15px;
    max-width: 430px;
    min-height: 380px;
}

.about__text {
    margin-bottom: 25px;
    color: #4C4C4C;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

.about__text:last-child {
    margin-bottom: 14px;
}

.pets {
    padding-top: 80px;
    min-height: 877px;
    text-align: center;
    background-color: #F6F6F6;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    width: 100%;
    margin: 0 auto;
}

.pets__inner {
    width: 100%;
    margin: 0 auto;
}

.slider {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.slider__btn {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 100%;
    margin-top: 192px;
}

.slider__btn:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.slider__btn:active {
    background-color: #F1CDB3;
}

.slider__btn svg {
    width: 14px;
    margin-bottom: 1px;
}

.slider__box {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    overflow-x: hidden;
    margin-bottom: 62px;
}

.slider__inner {
    margin-bottom: 15px;
    width: 100%;
    min-height: 435px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.pets__item {
    flex-shrink: 0;
    border-radius: 9px;
    min-width: 270px;
    height: 435px;
    overflow: hidden;
    transition: all .4s ease-in-out;
    background-color: #fff;
    cursor: pointer;

    position: relative;
    right: 0;
    transition: all .5s linear;
}

@keyframes right {
    from { right: 0; }
    to { right: 1100px; }
}

@keyframes left {
    from { right: 1100px; }
    to { right: 0; }
}

.pets__item.right {
    animation: right 1s;
}

.pets__item.left {
    animation: left 1s;
}

.pets__item:hover {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
    box-shadow: 1px 1px 10px 2px rgba(34, 60, 80, 0.08);
}

.pets__item:hover button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets__photo {
    margin-bottom: 26px;
    width: 270px;
    height: 270px;
}

.pets__name {
    margin-bottom: 32px;
    color: #545454;
    font-size: 20px;
    line-height: 23px;
}

.pets__btn {
    margin-bottom: 30px;
    padding: 12px 42px;
    color: #292929;
    font-size: 17px;
    line-height: 22px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    transition: all .5s ease;
}

.pets__btn:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.help {
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 48px;
    max-width: 1200px;
}

.help__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.help__item {
    margin: 0 60px;
    margin-bottom: 55px;
    text-align: center;
}

.help__item-img {
    margin-bottom: 25px;
}

.help__item-title {
    color: #545454;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
    font-weight: 400;
}

.donation {
    padding-top: 80px;
    min-height: 462px;
    background-color: #F6F6F6;
}

.donation__inner {
    display: flex;
    justify-content: center;
}

.donation__img {
    margin-top: 11px;
    margin-right: 30px;
    width: 505px;
    height: 261px;
    background-image: url("../../assets/images/donation-dog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.donation__content {
    max-width: 380px;
    min-height: 282px;
}

.donation-fix {
    margin-bottom: 22px;
}

.info__name {
    margin-bottom: 20px;
    color: #545454;
    font-size: 15px;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
    font-weight: 400;
}

.info__card {
    margin-bottom: 20px;
    width: 349px;
    height: 43px;
    display: flex;
    vertical-align: middle;
    background-color: #F1CDB3;
    border-radius: 9px;
    transition: all .5s ease;
}

.info__card:hover {
    background-color: #FDDCC4;
}

.card__icon {
    width: 30px;
    margin: 0 15px;
}

.card__number {
    color: #545454;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.info__text {
    color: #B2B2B2;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
}

/* ----- Footer ----- */
.footer {
    margin: 0 auto;
    width: 100%;
    min-height: 350px;
    background: linear-gradient(to right, #4e3e33, #211f20);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__inner {
    padding-top: 24px;
    width: 100%;
    height: 100%;
}

.footer__img {
    margin-top: 14px;
    width: 300px;
    height: 310px;
    background-image: url("../../assets/images/footer-dog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container__items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 160px;
    align-items: center;
}

.footer__title {
    max-width: 280px;
    padding-top: 13px;
    margin-bottom: 38px;
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    font-family: "Georgia", sans-serif;
    font-weight: 400;
}

.title-fix {
    margin-bottom: 32px;
}

.contact {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.contact-fix {
    margin-bottom: 32px;
}

.contact__icon {
    margin-right: 20px;
}

.contact__info {
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 1273px) {
    .container {
        padding: 0 30px;
    }

    .slider__inner {
        gap: 40px;
    }

    .container__items {
        gap: 80px;
    }
}

@media (max-width: 1127px) {
    .intro__inner {
        flex-direction: column;
        align-items: center;
    }

    .intro__content {
        padding-bottom: 100px;
        margin: 0;
    }

    .container__items {
        gap: 60px;
    }
}

@media (max-width: 1050px) {
    .about__img {
        margin-right: 60px;
    }

    .slider__inner {
        justify-content: center;
        gap: 60px;
    }

    .pets__item:last-child {
        display: none;
    }

    .donation {
        margin-bottom: 100px;
    }

    .donation__inner {
        flex-direction: column-reverse;
        align-items: center;
        gap: 60px;
    }
}

@media (max-width: 900px) {
    .header {
        height: 90px;
    }

    .intro__inner {
        padding-top: 150px;
    }

    .intro__content {
        padding-bottom: 115px;
    }

    .button--center {
        margin-left: 126px;
    }

    .intro__img {
        margin-left: 125px;
        width: 569px;
        height: 593px;
    }

    .about {
        margin-bottom: 100px;
    }

    .about__inner {
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }

    .about__content {
        margin-top: 0;
    }

    .about__img {
        margin-right: 0;
    }

    .about__text:last-child {
        margin-bottom: 0;
    }

    .slider__inner {
        gap: 40px;
    }

    .help {
        margin-bottom: 95px;
    }

    .help__content {
        gap: 60px;
    }

    .help__item {
        width: 170px;
        height: 113px;
        margin: 0;
    }

    .help__item:nth-child(7),
    .help__item:nth-child(8),
    .help__item:nth-child(9) {
        margin-top: -5px;
    }

    .donation__img {
        margin: 0;
    }

    .footer__inner {
        padding-top: 15px;
    }

    .footer__img {
        margin-top: -30px;
    }
}

@media (max-width: 767px) {
    @keyframes slide-in {
        from {
            right: -320px;
        }

        to {
            right: 0;
        }
    }

    @keyframes slide-out {
        from {
            right: 0;
        }

        to {
            right: -320px;
        }
    }

    .body {
        position: relative;
        overflow-x: hidden;
        transition: all .3s ease-in-out;
    }

    .body.open {
        overflow: hidden;
    }

    .shadow.open {
        background-color: rgba(41, 41, 41, 0.6);
        min-height: 100vw;
        min-width: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .logo.open {
        opacity: 0;
        transition: all .3s ease-in-out;
        user-select: none;
    }

    .logo.open a {
        cursor: default;
        pointer-events: none;
    }

    .logo--nav {
        width: 186px;
        display: block;
        margin-top: 30px;
        margin-left: 10px;
        max-height: 60px;
        text-align: center;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    .logo--nav.open {
        opacity: 1;
    }

    .logo__title-nav {
        margin-bottom: 10px;
        font-size: 32px;
        color: #F1CDB3;
        line-height: 35.2px;
        letter-spacing: 0.06em;
        text-shadow: 1px 0 1px #000,
            0 1px 1px #000,
            -1px 0 1px #000,
            0 -1px 1px #000,
            0px 4px 4px rgba(0, 0, 0, 0.5);
        font-family: Georgia, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .logo__subtitle-nav {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        line-height: 15px;
        letter-spacing: 0.1em;
    }

    .logo__title-nav {
        margin-bottom: 10px;
        font-size: 32px;
        color: #F1CDB3;
        line-height: 35.2px;
        letter-spacing: 0.06em;
        text-shadow: 1px 0 1px #000,
            0 1px 1px #000,
            -1px 0 1px #000,
            0 -1px 1px #000,
            0px 4px 4px rgba(0, 0, 0, 0.5);
        font-family: Georgia, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .logo__subtitle-nav {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        line-height: 15px;
        letter-spacing: 0.1em;
    }

    .nav {
        margin: 0;
        padding: 0;
        position: absolute;
        right: -320px;
        top: 0;
        z-index: 100;
        transition: .5s;
        width: 100%;
        max-width: 320px;
        height: 200vh;
        display: flex;
        flex-direction: column;
        background-color: #292929;
        animation-name: slide-out;
        animation-duration: .8s;
    }

    .nav.open {
        right: 0;
        animation-name: slide-in;
        animation-duration: .8s;
    }

    .nav__list {
        margin-top: 170px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .nav__item {
        margin-bottom: 66px;
        margin-right: 38px;
        text-align: center;
    }

    .nav__link {
        font-size: 32px;
        font-family: Arial;
        font-weight: 400;
        padding-bottom: 10px;
    }

    .burger {
        margin-left: auto;
        margin-right: 43px;
        position: relative;
        bottom: 11px;
        z-index: 1000;
        width: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    .burger div {
        transition: all .3s ease;
    }

    .burger:hover div {
        background-color: #FAFAFA;
    }

    .burger__line {
        margin: 8px 0;
        height: 2px;
        width: 100%;
        background-color: #F1CDB3;
    }

    .burger.open {
        height: 40px;
    }

    .burger.open .line-1 {
        transform: rotate(90deg) translate(10px, 10px);
        transition: .5s;
    }

    .burger.open .line-2 {
        transform: rotate(90deg) translate(0px, 0);
        transition: .5s;
    }

    .burger.open .line-3 {
        transform: rotate(90deg) translate(-10px, -10px);
        transition: .5s;
    }
}

@media (max-width: 700px) {
    .intro__img {
        margin: 0;
        width: 460px;
        height: 493px;
    }

    .intro__content {
        margin: auto;
        text-align: center;
    }

    .content__title {
        margin: auto;
        margin-bottom: 42px;
    }

    .content__text {
        margin-bottom: 42px;
    }

    .button--center {
        margin: 0;
    }

    .pets__item:nth-child(2) {
        display: none;
    }
}

@media (max-width: 520px) {
    .intro {
        min-height: 0;
    }

    .intro__img {
        width: 320px;
        height: 343px;
    }

    .section__title {
        font-size: 25px;
        text-align: center;
    }

    .about__text {
        margin-bottom: 22px;
    }

    .slider {
        position: relative;
        margin-bottom: 60px;
    }

    .slider__btn-left {
        position: absolute;
        bottom: 10px;
        left: 80px;
        margin: 0 auto;
    }

    .slider__btn-right {
        position: absolute;
        bottom: 10px;
        right: 80px;
        margin: 0 auto;
    }

    .donation__content {
        text-align: center;
    }

    .help__content {
        gap: 30px;
    }

    .help__item {
        max-width: 130xp;
        max-height: 87px;
    }

    .help__item-img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    .donation__img {
        width: 260px;
        height: 135px;
    }

    .info__card {
        margin: auto;
        margin-bottom: 20px;
        width: 281px;
        height: 43px;
    }

    .card__number {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 10px;
    }

    .intro__content {
        padding-bottom: 105px;
    }

    .content__title {
        font-size: 25px;
        line-height: 32.5px;
        max-width: 200px;
        margin-bottom: 42px;
    }

    .intro__img {
        width: 260px;
        height: 272px;
    }
}

@media (max-width: 320px) {
    .content__title {
        letter-spacing: 0.06em;
    }

    .content__text {
        margin-bottom: 55px;
    }

    .intro__content {
        margin-bottom: 20px;
    }

    .intro__img {
        margin-left: 30px;
    }

    .section__title {
        line-height: 32.5px;
    }

    .about {
        margin-bottom: 0;
        padding-bottom: 42px;
    }

    .about__inner {
        margin-top: 40px;
    }

    .about__text {
        padding: 0 15px;
        line-height: 160%;
        text-align: justify;
    }

    .about__inner {
        gap: 40px;
    }

    .about__img {
        width: 260px;
        height: 353.6px;
    }

    .title {
        margin-bottom: 42px;
    }

    .slider {
        margin-bottom: 50px;
    }

    .slider__btn-left {
        bottom: 8px;
        left: 57px;
    }

    .slider__btn-right {
        bottom: 8px;
        right: 58px;
    }

    .pets {
        padding-top: 42px;
        min-height: 0;
        padding-bottom: 25px;
    }

    .help {
        margin-bottom: 0;
        padding-bottom: 42px;
    }

    .help__content {
        padding: 0 15px;
        justify-content: space-between;
    }

    .help__item {
        width: 130px;
        height: 87px;
    }

    .help__item-img {
        margin-bottom: 13px;
    }

    .help__item-title {
        font-size: 15px;
    }

    .help__item:nth-child(7),
    .help__item:nth-child(8),
    .help__item:nth-child(9) {
        margin-top: 0;
    }

    .donation {
        padding-top: 40px;
        margin-bottom: 42px;
    }

    .donation__inner {
        gap: 40px;
    }

    .info__name {
        letter-spacing: 0;
        margin-bottom: 25px;
    }

    .info__text {
        padding: 0 20px;
        text-align: justify;
    }

    .footer__item {
        text-align: center;
    }

    .footer__title {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        max-width: 270px;
        margin: auto;
        margin-bottom: 38px;
    }

    .title-fix {
        padding: 5px;
        margin-bottom: 33px;
    }

    .container__items {
        gap: 0;
    }

    .contact {
        justify-content: center;
    }

    .footer__img {
        width: 260px;
        height: 269px;
        margin-top: 0px;
    }

    .contact-fix {
        justify-content: start;
        line-height: 115%;
        text-align: start;
        margin-bottom: 40px;
    }

    .contact__info a {
        letter-spacing: 0.06em;
    }
}